@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&amily=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent-color: rgb(238, 121, 117);
    --light: #fff;
    --font-size-base: clamp(16px, 1vw + 0.5rem, 18px);
    --font-size-h1: clamp(2.25rem, 2.5vw + 1rem, 4rem);
    --font-size-nav: clamp(1rem, 1.15vw + 0.35rem, 1.35rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size-base);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;

    &:hover {
        filter: brightness(90%);
    }
}

ul {
    list-style-type: none;
}

h1 {
    font-size: var(--font-size-h1);
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-nav {
    letter-spacing: .25ch;
    background-color: var(--accent-color);

    ul.nav-items {
        display: flex;
        padding: 0 clamp(0.5rem, 3vw + .5rem, 3rem);
        gap: clamp(1rem, 1.5vw, 1.75rem);
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        font-size: var(--font-size-nav);

        li {
            padding: clamp(0.35rem, 0.8vw, 0.6rem) clamp(0.75rem, 2vw, 1.5rem);
            background-color: var(--accent-color);
            border-radius: 0.5vw;
            transition: filter 0.5s linear;

            &:hover {
                filter: brightness(80%);
                cursor: pointer;
            }
        }
    }

    .menu-btn {
        width: 2rem;
        height: max-content;

        img {
            width: 100%;
        }
    }
}

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgb(253, 246, 183), rgb(244, 180, 240) 85%);

    .intro-image {
        width: 50%;
        height: 100vh;
    }

    .intro-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-inline: clamp(1rem, 5vw, 4rem);

        .main-heading {
            text-transform: uppercase;
            letter-spacing: .25ch;
        }

        .paragraph-text {
            display: block;
            line-height: 1.75;
            padding-block: 5vw;
            font-size: var(--font-size-base);
            font-weight: 300;
        }

        .primary-action {
            width: max-content;
            align-self: left;
            padding: .75rem 3.75rem;
            background-color: var(--accent-color);
            color: var(--light);
            font-weight: 600;
            font-size: var(--font-size-base);
        }
    }
}

.info-section {
    min-height: 100vh;
    display: flex;
    gap: clamp(2rem, 3vw, 5rem);
    align-items: center;
    padding: 10vh 5vw;
    background-image: linear-gradient(120deg, rgb(253, 246, 183), rgb(244, 180, 240) 70%);

    .image-layout {
        flex-shrink: 0;
        width: 50%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;

        img {
            width: 100%;
            aspect-ratio: 4/3;
        }

        img:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
    }

    .info-box {
        max-width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: var(--accent-color);
        font-size: var(--font-size-base);

        .small-heading {
            text-transform: uppercase;
            font-size: var(--font-size-base);
        }

        .section-heading {
            font-size: var(--font-size-h1);
            letter-spacing: .25ch;
            margin-block: 1rem;
            line-height: 1;
            text-transform: uppercase;
        }

        .icon-arrow {
            width: 1.5rem;
            aspect-ratio: 1;
        }

        .link-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            margin-top: 1rem;
            gap: .75rem;
        }
    }
}

@media screen and (max-width: 1023px) {

    nav.top-nav ul.nav-items {
        white-space: nowrap;

        li {
            padding: .35rem;
            font-size: var(--font-size-nav);
        }
    }

    .info-section {
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(95deg, rgb(253, 246, 183), rgb(244, 180, 240) 85%);
        padding-inline: 3rem;

        .image-layout {
            width: 100%;
        }

        .info-box {
            min-width: 50vw;
        }
    }
}


@media screen and (max-width: 767px) {

            nav.top-nav {
                position: relative;
            }
        
            nav.top-nav ul.nav-items {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: .5rem 1rem;
            }
        
            nav.top-nav ul.nav-items li {
                display: none;
            }
        
            nav.top-nav ul.nav-items li:last-child {
                display: block;
            }
        
            nav.top-nav ul.nav-items.active {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: var(--accent-color);
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;
                gap: .5rem;
                z-index: 1000;
            }
        
            nav.top-nav ul.nav-items.active li {
                display: block;
                width: 100%;
            }
        
            nav.top-nav ul.nav-items.active li:last-child {
                align-self: flex-end;
            }
      
        

        li {
            width: 100%;
            padding: .35rem 0;
        }

        li:not(:last-child) {
            border-bottom: 1px solid #0002;
        }

        li:last-child {
            display: flex;

            button {
                margin-left: auto;
            }
        }
    

    .intro-section {
        flex-direction: column-reverse;
        gap: 2rem;
        padding-bottom: 2rem;

        .intro-image {
            width: 100%;
            height: 70vh;
        }

        .intro-text {
            padding-block: 0;
            min-height: 100%;
        }
    }

    .info-section {
        padding: 1rem;

        .image-layout {
            display: block;

            img {
                margin-bottom: .25rem;
            }
        }

        .info-box {
            width: fit-content;
            max-width: 100%;
        }
    }
} 

